# =========================
# PYTHON
# =========================

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

ml/models

# Environment variables
.env
.env.*
!.env.example

# Python build files
build/
dist/
*.egg-info/

# =========================
# FRONTEND / NODE / VITE
# =========================

# Node dependencies
node_modules/

# Vite / frontend build output
frontend/dist/

# Frontend environment file
frontend/.env

# Keep frontend environment template
!frontend/.env.example

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# IDE / EDITORS
# =========================

# VS Code
.vscode/

# PyCharm
.idea/

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# LOGS / TEMP FILES
# =========================

*.log
*.tmp
*.temp

# =========================
# ML MODEL FILES
# =========================

*.pkl
*.joblib

# =========================
# DATASETS / LARGE DATA
# =========================

data/
dataset.csv

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db