# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

ml/models

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# ML model files
*.pkl
*.joblib

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

data/
dataset.csv